<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba Ale 4</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet"> 
    <link href="/css/tailwind.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
</head>
<body>
  
  <nav class="">
    <div class="container flex items-center justify-between px-8 py-4 mx-auto">
      <div class="w-10">
        <?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<path style="fill:#FDDD85;" d="M295.826,215.779V91.96c0-47.098-38.181-85.28-85.28-85.28l0,0c-47.098,0-85.28,38.181-85.28,85.28
	v123.819h35.293V90.069c0-27.606,22.379-49.986,49.986-49.986l0,0c27.606,0,49.986,22.379,49.986,49.986v125.71H295.826z"/>
<path style="fill:#F50057;" d="M345.276,504.151H75.817c-13.888,0-25.146-11.258-25.146-25.146V240.927
	c0-13.888,11.258-25.146,25.146-25.146h269.46c13.888,0,25.146,11.258,25.146,25.146v238.077
	C370.423,492.892,359.164,504.151,345.276,504.151z"/>
<path style="fill:#F50057;" d="M370.421,240.929v238.077c0,13.887-11.252,25.149-25.149,25.149h-49.765
	c13.887,0,25.139-11.262,25.139-25.149V240.929c0-13.887-11.252-25.149-25.139-25.149h49.765
	C359.168,215.779,370.421,227.041,370.421,240.929z"/>
<path style="fill:#FFFFFF;" d="M232.595,338.951c0-12.177-9.872-22.049-22.049-22.049c-12.177,0-22.049,9.872-22.049,22.049
	c0,7.423,3.672,13.984,9.295,17.981v19.345c0,7.015,5.739,12.754,12.754,12.754l0,0c7.015,0,12.754-5.739,12.754-12.754v-19.345
	C228.923,352.936,232.595,346.374,232.595,338.951z"/>
<path style="fill:#F07B52;" d="M369.867,307.145c-30.904,0-55.955,25.052-55.955,55.955s25.052,55.955,55.955,55.955
	s55.955-25.052,55.955-55.955S400.771,307.145,369.867,307.145z M369.867,391.983c-15.951,0-28.883-12.931-28.883-28.882
	s12.931-28.883,28.883-28.883c15.951,0,28.882,12.931,28.882,28.883C398.751,379.052,385.818,391.983,369.867,391.983z"/>
<path d="M210.546,396.546c-11.176,0-20.269-9.093-20.269-20.269v-15.813c-5.879-5.549-9.295-13.333-9.295-21.512
	c0-16.302,13.262-29.564,29.564-29.564s29.564,13.262,29.564,29.564c0,8.18-3.416,15.963-9.295,21.512v15.813
	C230.816,387.453,221.723,396.546,210.546,396.546z M210.546,324.419c-8.014,0-14.534,6.519-14.534,14.533
	c0,4.694,2.292,9.125,6.134,11.855c1.983,1.41,3.161,3.692,3.161,6.126v19.345c0,2.839,2.399,5.238,5.239,5.238
	c2.888,0,5.238-2.35,5.238-5.238v-19.345c0-2.434,1.178-4.716,3.161-6.126c3.84-2.729,6.134-7.161,6.134-11.855
	C225.079,330.938,218.56,324.419,210.546,324.419z"/>
<path d="M461.824,355.334h-28.978c-0.751-6.121-2.367-11.974-4.737-17.432l25.152-14.522c3.595-2.075,4.826-6.671,2.751-10.266
	c-2.075-3.595-6.672-4.826-10.266-2.751l-25.213,14.557c-3.633-4.808-7.93-9.089-12.758-12.697l14.58-25.253
	c2.075-3.595,0.844-8.191-2.751-10.266c-3.595-2.076-8.191-0.844-10.266,2.751l-14.585,25.262
	c-5.442-2.329-11.276-3.905-17.369-4.627v-29.197c0-4.151-3.365-7.515-7.515-7.515c-4.151,0-7.515,3.365-7.515,7.515v29.197
	c-6.093,0.723-11.927,2.298-17.369,4.627L330.4,279.456c-2.075-3.595-6.674-4.825-10.266-2.751
	c-3.595,2.075-4.826,6.672-2.751,10.266l14.58,25.253c-4.829,3.607-9.125,7.888-12.758,12.697l-25.214-14.557
	c-3.596-2.076-8.191-0.844-10.266,2.751s-0.844,8.191,2.751,10.266l25.153,14.522c-2.371,5.458-3.986,11.312-4.737,17.432h-28.979
	c-4.151,0-7.515,3.365-7.515,7.515s3.365,7.515,7.515,7.515h28.914c0.705,6.153,2.281,12.043,4.621,17.536l-24.973,14.419
	c-3.595,2.075-4.826,6.671-2.751,10.266c1.393,2.412,3.918,3.759,6.515,3.759c1.275,0,2.568-0.324,3.751-1.008l24.949-14.405
	c3.637,4.883,7.96,9.227,12.823,12.89l-14.38,24.906c-2.075,3.594-0.844,8.191,2.751,10.266c1.183,0.684,2.476,1.008,3.751,1.008
	c2.597,0,5.124-1.348,6.515-3.759l14.356-24.865c5.508,2.383,11.418,3.998,17.598,4.731v28.696c0,4.151,3.365,7.515,7.515,7.515
	c4.151,0,7.515-3.365,7.515-7.515v-28.696c6.18-0.733,12.09-2.349,17.598-4.731l14.356,24.865c1.393,2.412,3.918,3.759,6.515,3.759
	c1.275,0,2.568-0.325,3.751-1.008c3.595-2.075,4.826-6.671,2.751-10.266l-14.38-24.906c4.863-3.663,9.186-8.007,12.823-12.89
	l24.949,14.405c1.183,0.684,2.476,1.008,3.751,1.008c2.597,0,5.124-1.348,6.515-3.759c2.075-3.595,0.844-8.191-2.751-10.266
	l-24.973-14.419c2.341-5.493,3.916-11.383,4.621-17.536h28.913c4.151,0,7.515-3.365,7.515-7.515
	C469.34,358.699,465.975,355.334,461.824,355.334z M369.867,411.54c-26.709,0-48.44-21.73-48.44-48.44s21.73-48.44,48.44-48.44
	c26.71,0,48.44,21.73,48.44,48.44C418.307,389.81,396.577,411.54,369.867,411.54z"/>
<path d="M369.867,326.702c-20.07,0-36.398,16.328-36.398,36.399c0,20.07,16.328,36.398,36.398,36.398
	c20.07,0,36.399-16.328,36.399-36.398C406.266,343.03,389.938,326.702,369.867,326.702z M369.867,384.467
	c-11.782,0-21.367-9.585-21.367-21.367c0-11.782,9.585-21.367,21.367-21.367s21.367,9.585,21.367,21.367
	C391.234,374.883,381.649,384.467,369.867,384.467z"/>
<path d="M50.17,429.135c4.147,0,7.508-3.362,7.508-7.508V241.524c0-10.051,8.256-17.614,13.61-17.614h53.406h35.259h99.875h35.259
	h45.397c11.512,0,19.459,5.255,21.261,14.057c0.115,0.561,0.203,1.136,0.262,1.711c0.426,4.124,4.114,7.118,8.24,6.697
	c4.126-0.426,7.123-4.115,6.697-8.24c-0.11-1.066-0.274-2.136-0.489-3.18c-3.24-15.832-17.36-26.062-35.972-26.062h-37.889v-54.559
	c0-4.147-3.362-7.508-7.508-7.508s-7.508,3.362-7.508,7.508v54.559h-20.243V90.815c0-31.676-25.77-57.446-57.446-57.446
	s-57.446,25.77-57.446,57.446v118.08h-20.243V92.705c-0.001-42.838,34.85-77.689,77.688-77.689s77.689,34.851,77.689,77.689v11.576
	c0,4.147,3.362,7.508,7.508,7.508s7.508-3.362,7.508-7.508V92.705C302.594,41.587,261.006,0,209.89,0
	c-51.118,0-92.705,41.587-92.705,92.705v116.19H71.287c-13.513,0-28.626,13.954-28.626,32.631v180.101
	C42.662,425.773,46.022,429.135,50.17,429.135z M167.461,90.815c0-23.396,19.034-42.429,42.429-42.429s42.429,19.034,42.429,42.429
	v118.08H167.46L167.461,90.815L167.461,90.815z"/>
<path d="M370.61,481.739c-3.85-1.545-8.221,0.327-9.762,4.177c-2.694,6.723-9.115,11.068-16.36,11.068H75.291
	c-9.713,0-17.614-7.902-17.614-17.614v-3.685c0-4.147-3.362-7.508-7.508-7.508s-7.508,3.362-7.508,7.508v3.685
	C42.66,497.362,57.298,512,75.291,512h269.196c13.417,0,25.31-8.047,30.299-20.499C376.329,487.651,374.459,483.281,370.61,481.739z
	"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

      </div>
      <div>
        <ul class="flex items-center">
          <li class="ml-6 font-bold"><a href="#">Entrar</a></li>
          <li class="ml-6 font-bold"><a href="#">Registrarse</a></li>
          <li class="ml-6 font-bold"><a href="#">Como funciona</a></li>
          <li class="ml-6 font-bold"><a href="#">Contacto</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="py-4 hero">
    <div class="container flex items-center justify-between px-8 mx-auto">
      <div class="w-1/2">
        <h6 class="text-lg"><em>Hola como estas </em></h6>
        <h1 class="text-6xl font-bold">Estas dispuesto a pasar un proceso de verificación?</h1>
      </div>
      <div class="w-1/2">
        <svg id="a3a44bd2-1d5c-46a0-ab88-fbd2ff893ca0" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="700" height="600" viewBox="0 0 1100.50064 691.70682"><title>two_factor_authentication</title><path d="M1150.25032,388.23743h-1.85859V337.32194a29.4685,29.4685,0,0,0-29.46859-29.46853H1011.05186a29.4685,29.4685,0,0,0-29.46859,29.46853V616.64827a29.46851,29.46851,0,0,0,29.46859,29.46854h107.87128a29.46851,29.46851,0,0,0,29.46859-29.46854V424.47994h1.85859Z" transform="translate(-49.74968 -104.14659)" fill="#3f3d56"/><path d="M1142.121,339.05342v278.92a22.01111,22.01111,0,0,1-22.01,22.01h-108.39a22.00248,22.00248,0,0,1-22-22.01v-278.92a22.00031,22.00031,0,0,1,22-22h13.15a10.4608,10.4608,0,0,0,9.68,14.4h61.8a10.44027,10.44027,0,0,0,9.67993-14.4H1120.111A22.00894,22.00894,0,0,1,1142.121,339.05342Z" transform="translate(-49.74968 -104.14659)" fill="#d0cde1"/><rect x="945.85129" y="355.70682" width="126" height="34" fill="#f50057"/><path d="M1126.601,487.85341h-122a3.00328,3.00328,0,0,1-3-3v-30a3.00328,3.00328,0,0,1,3-3h122a3.00328,3.00328,0,0,1,3,3v30A3.00328,3.00328,0,0,1,1126.601,487.85341Zm-122-34a1.001,1.001,0,0,0-1,1v30a1.00067,1.00067,0,0,0,1,1h122a1.00067,1.00067,0,0,0,1-1v-30a1.001,1.001,0,0,0-1-1Z" transform="translate(-49.74968 -104.14659)" fill="#3f3d56"/><rect x="959.85129" y="374.70682" width="16" height="2" fill="#3f3d56"/><rect x="981.85129" y="374.70682" width="16" height="2" fill="#3f3d56"/><rect x="1003.85129" y="374.70682" width="16" height="2" fill="#3f3d56"/><rect x="1025.85129" y="374.70682" width="16" height="2" fill="#3f3d56"/><rect x="1047.85129" y="374.70682" width="16" height="2" fill="#3f3d56"/><path d="M1142.121,589.61342v28.36a22.01111,22.01111,0,0,1-22.01,22.01h-108.39a22.00248,22.00248,0,0,1-22-22.01v-130.46Z" transform="translate(-49.74968 -104.14659)" opacity="0.1"/><rect x="99.85129" y="459.70682" width="473" height="232" fill="#d0cde1"/><path d="M502.351,795.85341H151.601a2.00591,2.00591,0,0,1-2-2v-228a2.00587,2.00587,0,0,1,2-2h4.44Z" transform="translate(-49.74968 -104.14659)" opacity="0.1"/><rect x="318.85129" y="490.70682" width="732.99951" height="2" fill="#3f3d56"/><path d="M600.34268,108.46435H390.853v-4.31776H295.86217v4.31776H85.5089a14.17039,14.17039,0,0,0-14.1704,14.1704V409.4906a14.17043,14.17043,0,0,0,14.1704,14.17045H600.34268a14.17044,14.17044,0,0,0,14.1704-14.17045V122.63475A14.17039,14.17039,0,0,0,600.34268,108.46435Z" transform="translate(-49.74968 -104.14659)" fill="#3f3d56"/><rect x="40.59128" y="29.35679" width="505.16998" height="284.98004" fill="#d0cde1"/><circle cx="292.74433" cy="16.4075" r="5.18132" fill="#f50057"/><path d="M240.601,239.85341h-12a3.00328,3.00328,0,0,1-3-3v-12a3.00328,3.00328,0,0,1,3-3h12a3.00328,3.00328,0,0,1,3,3v12A3.00328,3.00328,0,0,1,240.601,239.85341Zm-12-16a1.0013,1.0013,0,0,0-1,1v12a1.0013,1.0013,0,0,0,1,1h12a1.0013,1.0013,0,0,0,1-1v-12a1.0013,1.0013,0,0,0-1-1Z" transform="translate(-49.74968 -104.14659)" fill="#3f3d56"/><rect x="176.85129" y="133.70682" width="228" height="2" fill="#3f3d56"/><rect x="345.85129" y="188.70682" width="53" height="16" fill="#f50057"/><path d="M452.601,304.85341h-49a3.00328,3.00328,0,0,1-3-3v-12a3.00328,3.00328,0,0,1,3-3h49a3.00328,3.00328,0,0,1,3,3v12A3.00328,3.00328,0,0,1,452.601,304.85341Zm-49-16a1.0013,1.0013,0,0,0-1,1v12a1.0013,1.0013,0,0,0,1,1h49a1.0013,1.0013,0,0,0,1-1v-12a1.0013,1.0013,0,0,0-1-1Z" transform="translate(-49.74968 -104.14659)" fill="#3f3d56"/><rect x="703.85129" y="206.70682" width="100" height="70" fill="#f50057"/><path d="M863.601,375.35341h-96a4.00427,4.00427,0,0,1-4-4v-66a4.00427,4.00427,0,0,1,4-4h96a4.00426,4.00426,0,0,1,4,4v66A4.00426,4.00426,0,0,1,863.601,375.35341Zm-96-70v66H863.6039l-.00293-66Z" transform="translate(-49.74968 -104.14659)" fill="#3f3d56"/><path d="M852.601,302.85341h-4a33,33,0,1,0-66,0h-4a37,37,0,1,1,74,0Z" transform="translate(-49.74968 -104.14659)" fill="#3f3d56"/><path d="M825.601,330.35341a10.00023,10.00023,0,1,0-15.29412,8.47258V349.5593a5.29411,5.29411,0,0,0,5.29412,5.29411h0a5.29411,5.29411,0,0,0,5.29411-5.29411V338.826A9.98327,9.98327,0,0,0,825.601,330.35341Z" transform="translate(-49.74968 -104.14659)" fill="#3f3d56"/><rect x="284.35129" y="562.70682" width="16" height="2" fill="#3f3d56"/><rect x="306.35129" y="562.70682" width="16" height="2" fill="#3f3d56"/><rect x="328.35129" y="562.70682" width="16" height="2" fill="#3f3d56"/><rect x="350.35129" y="562.70682" width="16" height="2" fill="#3f3d56"/><rect x="372.35129" y="562.70682" width="16" height="2" fill="#3f3d56"/><path d="M643.60059,778.85352H174.60107a4.00428,4.00428,0,0,1-4-4v-228a4.00427,4.00427,0,0,1,4-4H643.60059a4.004,4.004,0,0,1,4,4v228A4.004,4.004,0,0,1,643.60059,778.85352Zm-468.99952-232v228H643.60352l-.00293-228Z" transform="translate(-49.74968 -104.14659)" fill="#3f3d56"/><circle cx="145.85129" cy="470.70682" r="6" fill="#3f3d56"/><circle cx="166.85129" cy="470.70682" r="6" fill="#3f3d56"/><circle cx="187.85129" cy="470.70682" r="6" fill="#3f3d56"/><path d="M453.601,680.85341h-135a3.00328,3.00328,0,0,1-3-3v-34a3.00328,3.00328,0,0,1,3-3h135a3.00328,3.00328,0,0,1,3,3v34A3.00328,3.00328,0,0,1,453.601,680.85341Zm-135-38a1.001,1.001,0,0,0-1,1v34a1.001,1.001,0,0,0,1,1h135a1.001,1.001,0,0,0,1-1v-34a1.001,1.001,0,0,0-1-1Z" transform="translate(-49.74968 -104.14659)" fill="#3f3d56"/><circle cx="437.85129" cy="559.70682" r="18" fill="#f50057"/><path d="M493.601,679.85341a19,19,0,1,1,19-19A19.02162,19.02162,0,0,1,493.601,679.85341Zm0-36a17,17,0,1,0,17,17A17.019,17.019,0,0,0,493.601,643.85341Z" transform="translate(-49.74968 -104.14659)" fill="#3f3d56"/><polygon points="444.118 563.803 434.437 554.121 437.265 551.293 443.584 557.611 461.216 532.555 464.487 534.858 444.118 563.803" fill="#3f3d56"/><polygon points="433.761 314.337 40.591 314.337 40.591 50.947 433.761 314.337" opacity="0.1"/><path d="M628.69739,413.2984H579.39527v-3.55218a.7043.7043,0,0,0-.70431-.70432H561.78737a.70429.70429,0,0,0-.70431.70432v3.55218H550.51832v-3.55218a.7043.7043,0,0,0-.70432-.70432H532.91042a.7043.7043,0,0,0-.70432.70432v3.55218H521.64136v-3.55218a.70429.70429,0,0,0-.70431-.70432H504.03347a.7043.7043,0,0,0-.70432.70432v3.55218H492.76441v-3.55218a.7043.7043,0,0,0-.70432-.70432H475.15651a.70429.70429,0,0,0-.70431.70432v3.55218H463.88746v-3.55218a.7043.7043,0,0,0-.70432-.70432H446.27956a.7043.7043,0,0,0-.70432.70432v3.55218H435.0105v-3.55218a.70429.70429,0,0,0-.70431-.70432H417.4026a.7043.7043,0,0,0-.70431.70432v3.55218H406.13355v-3.55218a.7043.7043,0,0,0-.70432-.70432H273.01784a.7043.7043,0,0,0-.70432.70432v3.55218H261.74878v-3.55218a.7043.7043,0,0,0-.70432-.70432H244.14088a.70429.70429,0,0,0-.70431.70432v3.55218H232.87183v-3.55218a.7043.7043,0,0,0-.70432-.70432H215.26393a.7043.7043,0,0,0-.70432.70432v3.55218H203.99487v-3.55218a.70429.70429,0,0,0-.70431-.70432H186.387a.7043.7043,0,0,0-.70431.70432v3.55218H175.11792v-3.55218a.7043.7043,0,0,0-.70432-.70432H157.51a.7043.7043,0,0,0-.70432.70432v3.55218H146.241v-3.55218a.7043.7043,0,0,0-.70432-.70432H128.63307a.7043.7043,0,0,0-.70432.70432v3.55218H117.364v-3.55218a.7043.7043,0,0,0-.70431-.70432H99.75611a.70429.70429,0,0,0-.70431.70432v3.55218H66.65326A16.90359,16.90359,0,0,0,49.74968,430.202v7.6434a16.90358,16.90358,0,0,0,16.90358,16.90354H628.69739A16.90358,16.90358,0,0,0,645.601,437.84539V430.202A16.90359,16.90359,0,0,0,628.69739,413.2984Z" transform="translate(-49.74968 -104.14659)" fill="#3f3d56"/><path d="M474.601,321.85341h-264a3.00328,3.00328,0,0,1-3-3v-110a3.00328,3.00328,0,0,1,3-3h264a3.00328,3.00328,0,0,1,3,3v110A3.00328,3.00328,0,0,1,474.601,321.85341Zm-264-114a1.0013,1.0013,0,0,0-1,1v110a1.0013,1.0013,0,0,0,1,1h264a1.0013,1.0013,0,0,0,1-1v-110a1.0013,1.0013,0,0,0-1-1Z" transform="translate(-49.74968 -104.14659)" fill="#3f3d56"/><path d="M240.601,269.85341h-12a3.00328,3.00328,0,0,1-3-3v-12a3.00328,3.00328,0,0,1,3-3h12a3.00328,3.00328,0,0,1,3,3v12A3.00328,3.00328,0,0,1,240.601,269.85341Zm-12-16a1.0013,1.0013,0,0,0-1,1v12a1.0013,1.0013,0,0,0,1,1h12a1.0013,1.0013,0,0,0,1-1v-12a1.0013,1.0013,0,0,0-1-1Z" transform="translate(-49.74968 -104.14659)" fill="#3f3d56"/><rect x="176.85129" y="163.70682" width="228" height="2" fill="#3f3d56"/><rect x="264.85129" y="269.70682" width="732.99951" height="2" fill="#3f3d56"/><circle cx="264.85129" cy="269.70682" r="14" fill="#3f3d56"/><circle cx="997.85129" cy="271.70682" r="11" fill="#3f3d56"/><circle cx="1051.85129" cy="492.70682" r="11" fill="#3f3d56"/><circle cx="321.85129" cy="492.70682" r="11" fill="#3f3d56"/></svg>
      </div>
    </div>
  </section>

  <script src="/js/app.js"></script>
</body>
</html>