<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba Ale 4</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet"> 
    <link href="/css/tailwind.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
</head>
<body>
  
  <nav class="">
    <div class="container flex items-center justify-between px-8 py-4 mx-auto">
      <div>
        <img src="/img/logo.png" alt="logo">
      </div>
      <div>
        <ul class="flex items-center">
          <li class="ml-6"><a href="#">About</a></li>
          <li class="ml-6"><a href="#">Contact</a></li>
          <li class="ml-6"><a href="#">Login</a></li>
          <li class="ml-6"><a href="#">Register</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="py-4 hero">
    <div class="container flex items-center justify-between px-8 mx-auto">
      <div class="w-1/2">
        <h6 class="text-lg"><em>Hola como estas </em></h6>
        <h1 class="text-6xl font-bold">Dime si quieres algo de esto?</h1>
      </div>
      <div class="w-1/2">
        <img src="/img/hero-pizza.png" alt="hero">
      </div>
    </div>
  </section>

  <script src="/js/app.js"></script>
</body>
</html>